.admin-faculty, .client-faculty, .add-faculty, .view-faculty,
.edit-faculty, .apply-faculty {
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.admin-faculty, .client-faculty {
    width: 80%;
}

.add-faculty, .view-faculty, .edit-faculty, .apply-faculty {
    width: 60%;
}