.admin-subjects-list, .add-subject {
    width: 60%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.view-subject, .edit-subject {
    width: 40%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}