body {
    margin: 0 auto;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.login-form, .add-client, .view-faculty {
    width: 60%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row,  .add-client .row, .view-faculty .row {
    margin-left: 0;
    margin-right: 0;
}

.card-header {
    text-align: center;
}

.footer {
    position: fixed;
    height: 55px;
    bottom: 0;
    color:#fff;
    padding-top:20px;
    width: 100%;
    background: #00003E;
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);
    background: linear-gradient(to right, #31BDE6, #00003E);
    text-align:center;
}

header {
    height: 55px; !important;
    top: 0; !important;
    color:#fff; !important;
    padding-bottom:20px; !important;
    width: 100%; !important;
    background: #00003E; !important;
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E); !important;
    background: linear-gradient(to right, #31BDE6, #00003E); !important;
    text-align:center;
}

#container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbarNavDropdown ul li {
    padding-left: 20px;
}


header a { color: #fff; }
header a:hover { color: #31BDE6; }
a { text-decoration: none; }
a:hover{ text-decoration:none; }

